// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'
@font-face
  font-family 'KanitLight'
  src url('~assets/fonts/Kanit-Light.woff')
  font-style normal
@font-face
  font-family 'fzht_GBK'
  src url('~assets/fonts/fzht_GBK.woff')
  font-style normal
textarea, input, button, select { font-family: inherit; font-size: inherit; }
body
  .application
    font-family: 'KanitLight', 'fzht_GBK', -apple-system, BlinkMacSystemFont, Roboto, Arial, sans-serif;
